body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url("svgs/background.svg");
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  transition: transform .5s ease-in, color .5s ease-in ;
}
.icon {
  fill:#39add1;
  transition: transform .5s ease-in, fill .5s ease-in
}

a:hover {
  color: #111;
  transform: scale(1.1);
}
a:hover .icon {
    fill: #111;
    transform: scale(1.1);
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
  color: #39ADD1;
  font-size: .85em;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

#logo {
  width: 140px;
  height: 120px;
}
.letters {
  visibility: hidden;
}


h3 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: .8em;
}

.dog {
  display: block;
  text-align:center;
}

.sable{
  color: #b97f5b;
  fill: #b97f5b;
}

.fawn {
  color: #e9aa82;
  fill: #e9aa82;
}

.red{
  color: #834b29;
  fill: #834b29;
}

.stone {
  color: #52595f;
  fill: #52595f;
}

/* Animation */
@keyframes grow {
    0% {
    transform: scale(0);
    }
    50% {
      transform: scale(.7);
    }
    100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(375deg);
  }
  80% {
    transform: rotate(355deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#logo:hover .paw {
  transform-origin: 70px 70px;
  animation: grow 1s ease-in backwards;
}
#logo:hover .letters {
  transform-origin: 70px 70px;
  animation: spin 1s 1.1s ease-out backwards;
}

/* Media Queries */
@media (min-width: 425px) {
 .letters {
    visibility: visible;
  }
  .dog {
    display:inline-block;
    padding: 10px;
  }
}
